* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
      scroll-behavior: smooth;
  }
  /* Navbar */
  .navbar{
      display: flex;
      justify-content: center;
      background-color: rgba(46, 45, 45, 0.534);
      position: sticky;
      top:0;
    }
  .navbar ul{
      display: flex;
      list-style: none;
      margin: 20px 0px;
  }
  .navbar ul li{
      font-family: century;
      font-size: 1.1rem;
      font-weight: bold;
  }
  .navbar ul li a{
      text-decoration: none;
      color: white;
      padding: 8px 25px;
      transition: all .8s ease;
  }
  .navbar ul li a:hover{
      background-color: tomato;
      color: black;
      box-shadow: 0 0 10px black;
  }
  /* Home section */
  #home{
      display: flex;
      flex-direction: column;
      background-color: rgb(24, 23, 23,0.333);
      background-color: none;
       height: 840px;
      justify-content: center;
      align-items: center;
      color:rgb(243, 237, 242);
  }
  #home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background:url(pic21.jpg)no-repeat center center/cover;
    height: 900px;
    width: 1500px;
    z-index: -1;
    opacity: 0.7;
  }
  .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      position:absolute;
      top: 300px;
      right: 10%;
  }
  .heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0px;
  }
  /* About section */
  #about{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 30px;
      margin-bottom: 50px;
      /* margin-left: 100px; */
background-color:rgb(150, 155, 105);  
}
  #pic{
      display: flex;
      
      /* border-radius: 100%;
      box-shadow: 7px 12px 15px 6px black , -7px 12px 15px 6px black; */
  }
  #pic img{
    /* border-radius: 100%;
    box-shadow: 7px 12px 15px 6px black , -7px 12px 15px 6px black;
      width: 400px;
      height: 400px;
      margin-left: 1px ; */
      height: 100%;
      width: 100%;
    }
  #intro{
      display: flex;
      flex-direction: column;
      border-radius: 1%;
      text-align: justify;
      padding: 15px;
    background-color: white;
    box-shadow: 7px 12px 15px 6px black , -7px 12px 15px 6px black;
}
  #intro h2{
      font-size: 20rem;
      margin-bottom: 20px;
      /* border-radius: 20px; */
  }
  #skill{
      display: flex;
      flex-direction: column;
      padding: 20px;
background-color:sandybrown;
  }
  .row{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
  }
  .box{
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 400px;
      border: 1px solid rgba(10, 10, 10, 0.808);
      margin: 10px;
      text-align: left;
      padding: 10px;
      border-radius: 15px;
      background: linear-gradient(to top,rgb(225,45,45)50%,white 50%);
      background-size: 100% 200%;
      transition: all .6s;
  }
  
  .box:hover{
      background-position: left bottom;
      color:white;
      border: none;
      box-shadow: 0 0 20px ;
  }
  body {
    background-color: #d8d8d8;
  }
  h1 {
  text-align: center;
  }
  .social-menu ul {
    position: absolute;
    top: 92px;
    right: -75px;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .social-menu ul li {
    list-style: none;
    margin: 0 10px;
  }
  .social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
  }
  .social-menu ul li .fa:hover {
    color: #ffffff;
  }
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(29, 11, 11, 0.5);
  }
  .social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color: rgb(185, 37, 17);
  }
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #2e45ac;
  }

